#canvas {
  border: 1px solid #ccc;
  /* disable browser zoom and such */
  touch-action: none;
}

#timeline {
  overflow: hidden;
}

#timeline img {
  border: 1px solid #ccc;
  margin-right: 16px;
  display: block;
  float: left;
}

#timeline img.active {
  border: 1px solid #3333ff;
}

#add-frame {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  display: block;
  float: right;
}